@charset "utf-8";


 

body{min-width:1260px; }
#main_header{
  height: 1950px; _background-color:lightgray; position: relative;}

#header_top{
  width: 1260px; height: 50px;
  _background-color:pink;
position: absolute; top: 40px; left: 50%; margin-left:-630px;
z-index:1;
}

#header_top > .logobox{float: left; _background-color:#f00; }

#header_top > .logobox img.pc{ display: block;}
#header_top > .logobox img.tablet{ display: none;}
#header_top > #main_menu{float: right; _background-color:#0f0; padding-top:20px;  }
#main_menu>ul{}
#main_menu>ul>li{float: left;}
#main_menu>ul>li>a{display: block; line-height:50px; padding:0 30px; font-weight:bold; color:white;}
#main_menu>ul>li>a:hover{color:#000000; cursor:pointer; }
#main_menu>ul>li>a:after{
  content:""; display: block; 
  width: 0; height: 3px; background-color:#69b099; transition:0.3s; margin:0 auto; }
  #main_menu>ul>li>a:hover:after{width: 100%;}

  .card_content{display: none;}





/*bxslider*/

.slider_wrap{height: 1005px;}
.slider_wrap>ul{}
.slider_wrap ul li{height: 1005px;}

.slider_wrap li.first{
  background:url(../images/top_img.jpg) no-repeat center;
  background-size:cover;
}

.slider_wrap li.second{
  background:url(../images/top_img2.jpg) no-repeat center;
  background-size:cover;
}

.slider_wrap li.three{
    background:url(../images/ton_img3.jpg) no-repeat center;
    background-size:cover;
}

.slider_wrap li.four{
    background:url(../images/top_img4.jpg) no-repeat center;
    background-size:cover;
}

.slider_wrap li.second>.slider_txt>h3{color:black;}
.slider_wrap li.four>.slider_txt>h3:after{display: none;}
.slider_wrap li.four>.slider_txt{position: absolute; left: 20%;}




.slider_wrap .slider_txt{
  width: 800px; position: absolute;
   left:50%; margin-left:-350px;
   
    top: 30%; color:white; text-align: center;

    _background-color:rgba(255,255,255,0.5);

    _padding:20px 20px 30px 20px;

    _box-shadow:0 0 10px #000;

}

.slider_wrap h3{font-size:3.5em; _text-shadow:0px 0px 6px #000;}
.slider_wrap h3:after{content:"";display: block; width: 300px; height: 3px;
background-color:#fff; margin: 20px auto;}
.slider_wrap p{  font-weight:bold;  text-shadow:0px 0px 6px #000;}


.bx-wrapper {
    -moz-box-shadow:none;
     -webkit-box-shadow: none; 
     box-shadow:none; 
     border:0 none; 
     background:none; 
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 400px;
    width: 100%;
}


.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #fff;
}


.bx-wrapper .bx-pager.bx-default-pager a {
    background: none;
    border:2px solid #fff;
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: px;
    border-radius: 10px;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 40%;
    margin-top: -5px;
    outline: 0;
    width: 100px;
    height: 100px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(../images/btn_prev.png) no-repeat 0 0px;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(../images/btn_next.png) no-repeat 0 0px;
}

.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
   background-position:0 0;
}




/*header content*/


#main_header .content{
  /*width: 1260px; h315*4*/
  width: 1260px; height: 1260px;
    position: absolute; bottom: 0; left: 50%; margin-left:-630px;
    _background-color:#fff;}

    #main_header .content li{
      float: left; 
       width: 25%; height: 315px;
        _border: 1px solid #000; }

    #main_header .content li.content1st{background-image:url(../images/main_img_back_01.jpg);
    padding-top:80px; 
    padding-left:100px;
    text-align: center;
    color:white;
    font-weight:bold;}


    .content li.content3st{width: 50% !important; /*padding-top: 10px; padding-left:10px;*/
      position: relative; background-color:#fff; }
    .content li.content3st>h2{width: 200px; position: absolute; top: 30px; left: 30px; }
    .content li.content3st .slider2 li{width: 630px!important;}
    .content li.content3st .slider2{position: absolute; top: 0; left: 0; width: 630px;}
    .content li.content3st .slider2 div{float: left; width: 315px; height: 315px;}
    .content li.content3st .slider2 div.left{padding-left: 33px; padding-top: 75px; font-weight:bold;}
     .content li.content3st .slider2 div.left:after{
      content:""; border-width:20px; border-style:solid;
      border-color:transparent transparent transparent #fff;
      position: absolute; left: 315px; top: 120px;
     }


.content li.content3st .bx-wrapper{
  position: absolute; top: 0; left: 0; width: 630px;
}

    .content li.content3st .btn{position: absolute; left: 200px; bottom: 30px; cursor:pointer; }
    .content li.content3st .btn img{float: left;width: 38px; display: block; }


     #main_header .content li.content5st{background-image:url(../images/main_img_back_02.jpg);
    padding-top:80px; 
    padding-left:100px;
    text-align: center;
    color:white;
    font-weight:bold;}

     #main_header .content li.content6st{background-color:#68b09a;
    padding-top:80px; 
    padding-left:100px;
    text-align: center;
    color:white;
    font-weight:bold;}

    .content .content1st img{}  
    .content .content1st p{padding-right:110px; font-size:1.2em;}  
    .content .content5st p{padding-right:110px; padding-top:10px;  font-size:1.2em; }  
    .content .content6st p{padding-right:110px; padding-top:10px;  font-size:1.2em;}
    .content .content11st p{padding-right:110px; padding-top:10px;  font-size:1.2em;}


    .content li.content7st{ width: 50% !important; color:white; position: relative;

    }  

    .content .card{position: absolute; top: 30px; left: 40px;
 }

 .content .card p{font-size:1.5em;;}


 .content .card h3:after{content:""; display: block; 
 width: 50px; height: 3px; background-color:white;
margin:15px 0;}

 

    .content li.content8st{
      height: 630px !important; position: relative;  color:white;
    }

    .content li.content9st{ width: 50% !important;
      position: relative;
       color:#5e5e5e;
       font-weight:bold;



    } 

    .content .card h3.bar:after{content:""; display: block; 
 width: 50px; height: 3px; background-color:#5e5e5e;
margin:15px 0;}



.content .card p.x{ padding-left:30px;}
.content .card p.y{ font-size:0.9em; text-align: center; padding-top:5px; font-weight:bold;}

 #main_header .content li.content11st{
  background-color:#6993a1;
   padding-top:80px; 
    padding-left:100px;
    text-align: center;
    color:white;
    font-weight:bold;
 }

  .content li.content12st{ width: 50% !important;
      position: relative;

  }
  .content li.content12st img.tablet_brand{display: none;}

  .content .card h3.x2{color:#354b52; font-size:1.5em;}

    .content .card h3.x2:after{content:""; display: block; 
 width: 50px; height: 3px; background-color:#354b52;
margin:15px 0;}

.content .card .p2{display: none;}






li.content2st>.cardbox{padding-left:30px; padding-top:50px;}
li.content2st>.cardbox>h3.news{ font-weight:bold; font-size:1.5em; }
li.content2st>.cardbox>p.text{font-size:0.9em;  font-weight:bold; padding-top:20px; }
li.content2st>.cardbox>img{display: block; padding-top:90px;padding-left:180px; }



.tablet_content{display: none;}










.container{height: 730px; margin-top:100px; margin-bottom:50px;
background:url(../images/contentsbg02.jpg) no-repeat center fixed;
background-size:cover;}


.container .section{width: 1260px; margin:0 auto; padding-top:30px; }

.section > h4{text-align: center; color:white;}
.section > h4:after{content:""; display: block; width: 50px; height: 3px;
background-color:#fff; margin:30px auto;}
.section > p{text-align: center; color:white; font-size:2em; margin-bottom:70px;}

.section ul{}
.section ul li{float: left; margin-right:20px;}
.section ul li:last-child{margin-right:0;}

.section .card{width: 300px; height: 380px; _background-color:yellow;
  position: relative; transition:0.3s;}

  .section .card:hover{transform:translate(-10px,-10px);}


.section .card img{position: absolute; left: 50%; transform:translateX(-50%); 
top:70px;}
.section .card_body{width: 300px; height: 165px; position: absolute; bottom: 10px;
text-align: center; color:white; padding:0 15px;}
.section .card_body h3{margin-bottom:10px;}
.section .card_body p{font-size:0.8em; }



/*content box*/


.content_box{width: 1260px; height: 630px; background-color: yellow; position: relative;
left:50%; margin-left:-650px;margin-bottom:100px;}

.content_box li{_border: 1px solid #000; width: 25%; float: left;}

.content_box li:first-child{height: 630px  !important; background-color:#3d6e7f;}






.content_box li.contentbox1st{position: relative;}
.content_box li.contentbox1st h2{position: absolute;
 color:white;  text-align: center;
top: 220px; left: 130px;}

.content_box li.contentbox1st img.icon{display: block; position: absolute; top: 80px; left: 40%;}


.contentbox1st .btn2{position: absolute;right:30px; }

.contentbox1st .btn2>img.prev{display: block; float: left; }
.contentbox1st .btn2>img.next{display: block;}



.contentbox1st .slider3 .left{color:white; text-align: center; padding-top:300px; }

.content_box li.contentbox2st:after{
        content:""; border-width:20px; border-style:solid;
        border-color:transparent transparent #e7e7e7 transparent;
        position: absolute; left: 450px; top:275px;
     }


     .content_box li.contentbox4st:after{
        content:""; border-width:20px; border-style:solid;
        border-color:transparent transparent #e7e7e7 transparent;
        position: absolute; right: 150px; bottom:315px;
     }


     .content_box li.contentbox6st:after{
        content:""; border-width:20px; border-style:solid;
        border-color:#e7e7e7 transparent transparent  transparent;
        position: absolute; bottom: 275px; right: 450px;
     }









/*ul.slider3>li>img{display: block; position: absolute; top: 80px; left: 40%;}
.content_box li.contentbox1st .card{height: 400px; }
.content_box li.contentbox1st .card>h1{color:white;  text-align: center; position: absolute;
top: 220px; left: 130px;}

ul.slider>.card{position: relative;}
p.text01{height: 200px;color:white; font-size:0.9em;
 text-align: center;position: absolute; top: 300px; left: 40px;
 }

ul.slider3>li>.card>p.date{position: absolute;}


  .content_box li.contentbox1st .card>.btn2{position: absolute; bottom: 20px; right: 20px;}

   .content_box li.contentbox1st .card>.btn2>img{width:38px; display: block;float: left;
}*/



.content_wrapper01{position: relative;height: 315px;margin-bottom:100px;
 
}
.content01{width: 1260px; height: 315px; 
 _background-color:yellow;
    position: absolute;  left:50%; margin-left:-650px; /*margin-bottom:100px;*/}
     
.content01>ul{}
.content01>ul>li{_border: 1px solid #000; width: 50%; height: 315px; float: left;}
.content01>ul>li.content02_1st{background-image:url(../images/content02_img01.jpg);}


.content01>ul>li.content02_1st>.card02{position: relative;}
.content01>ul>li.content02_1st>.card02>h1{color:#716965;padding-left:100px; 
    padding-top:50px; position: relative;}
.content01>ul>li.content02_1st>.card02>h1:after{
    content:""; display: block; width: 50px; height: 3px; background-color:#7d7d7d;
    position: absolute; left: 135px; top: 110px;

}
.content01>ul>li.content02_1st>.card02>p{color:#a19086; font-weight:bold; padding-left:110px;
padding-top:40px;}


.content01>ul>li.content02_2st{background-image:url(../images/content02_img02.jpg);}
 

.content01>ul>li.content02_1st>.card02>button{
    width: 165px; height: 45px; border: 2px solid #b8ada8;
  background-color:#e9e0db; color:#716965; font-size:1em; font-weight:bold; 
position: absolute; left: 80px; top: 200px;}


.content01>ul>li.content02_1st>.card02>button:hover{background-color: #b8ada8; cursor:pointer; color:white;}



.content01>ul>li.content02_2st>.card03{position: relative;}
.content01>ul>li.content02_2st>.card03>h1{color:#fff; 
    padding-top:50px;  text-align: center;}
.content01>ul>li.content02_2st>.card03>h1:after{
    content:""; display: block; width: 50px; height: 3px; background-color:#fff;
    position: absolute; left: 280px; top: 110px;

}
.content01>ul>li.content02_2st>.card03>p{color:white; text-align: center; 
padding-top:40px;}


.content01>ul>li.content02_2st{background-image:url(../images/content02_img02.jpg);}

.content01>ul>li.content02_2st>.card03>button{
    width: 165px; height: 45px; border: 1px solid #FFF;
   color:white; font-size:1em; font-weight:bold;  
position: absolute; left: 220px; top: 200px; background-color:rgba(0,0,0,0);}


.content01>ul>li.content02_2st>.card03>button:hover{background-color:black; cursor:pointer;}

/*footer*/


#footer_wrap{border-top: 2px solid #000; height: 200px;}
#footer_wrap .footer{width: 1260px; margin: 0 auto; padding-top: 10px;}
#footer_wrap .footer>div{float: left;}
#footer_wrap .footer>div.logo{width: 260px; font-size: 2em; font-weight: bold}
#footer_wrap .footer>div.copy{width: 1000px;}
#footer_wrap .footer>div.copy ul{margin-bottom: 15px;}
#footer_wrap .footer>div.copy li{position: relative; float: left;}
#footer_wrap .footer>div.copy li:after{content: ""; display: block; position: absolute; width: 2px; height: 15px; background: #000; top: 10px;left: 0;}
#footer_wrap .footer>div.copy li:nth-child(1):after{content: ""; display: none;}
#footer_wrap .footer>div.copy a{display: block; line-height: 25px; padding: 5px 20px;}
#footer_wrap .footer>div.copy address{font-style: normal; padding-left: 20px; line-height: 1.5em; color:#aaa;}
}

/*--------sub*/






/*sub header*/
.sub_header{ height: 500px;background:url(../images/sub_header_img01.jpg) no-repeat center; position: relative;background-size:cover;}

.sub_header .textbox{ color:white; position: absolute; bottom: 0; left: 450px; text-align: center;}
.sub_header .textbox>h1{text-align: center; font-weight:bold; font-size:3.5em; color:white;  }
.sub_header .textbox>p{text-align: center; _padding-top:10px;}
.sub_header .textbox2{ color:white; position: absolute; bottom: 0; left: 550px; text-align: center;}
.sub_header .textbox2>h1{text-align: center; font-weight:bold; font-size:3.5em; color:white;  }
.sub_header .textbox2>p{text-align: center; _padding-top:10px;}

.sub_header .textbox3{ color:white; position: absolute; bottom: 0; left: 480px; text-align: center;}
.sub_header .textbox3>h1{text-align: center; font-weight:bold; font-size:3.5em; color:white;  }
.sub_header .textbox3>p{text-align: center; _padding-top:10px;}


  .sub_header .textbox4{ color:white; position: absolute;
 bottom: 0; left: 480px; text-align: center;}
 .sub_header .textbox4>h1{text-align: center;
 font-weight:bold; font-size:3.5em; color:white;  }
.sub_header .textbox4>p{text-align: center;
 _padding-top:10px;}











#header_top{width: 1260px; 
 height: 225px;
  _background-color:pink; 
  position: absolute; top: 40px; left: 50%; margin-left:-630px;
z-index:1;}

  #header_top > .logobox{float: left; _background-color:blue;}
  #header_top > #main_menu{float:right; _background-color:red;padding-top:15px;}

  #header_top>#main_menu>ul{}
  #header_top>nav#main_menu>ul>li{float: left;}
  #header_top>nav#main_menu>ul>li.on>a{color:#ffa130; font-weight:bold;}

  #header_top>nav#main_menu>ul>li>a{display: block; line-height: 50px; padding:0 30px; color:white;
  font-weight:bold; }

  #header_top>nav#main_menu>ul>li>a:hover{color:#ffa130;}





  #header_top2{width: 1260px; 
 height: 225px;
  _background-color:pink; 
  position: absolute; top: 40px; left: 50%; margin-left:-630px;
z-index:1;}

  #header_top2 > .logobox{float: left; _background-color:blue;}
  #header_top2 > #main_menu{float:right; _background-color:red;padding-top:15px;}

  #header_top2>#main_menu>ul{}
  #header_top2>nav#main_menu>ul>li{float: left;}
  #header_top2>nav#main_menu>ul>li>a{display: block; line-height: 50px; padding:0 30px; color:white;
  font-weight:bold; }

  #header_top>nav#main_menu>ul>li>a:hover{color:#ffa130;}








 /*content*/


     .company_content>.menu_list{width: 250px; }
     .company_content>.menu_list>ul{}
     .company_content>.menu_list>ul>li{float: left; color:orange; 
       padding:0 3px; }
     .company_content>.menu_list>ul>li>img{display: block;}
     .black{color:#000 !important;font-weight:bold; }


     /*main_content01*/





     .company_content .main_content01{  padding-top:60px; height: 510px; border-bottom: 3px solid #202020;
    width: 1260px; text-align: center;  position: relative;}

    .company_content .main_content01>h3{font-size:2em; position: relative;}
    .company_content main_content01>h3:after{content:""; display: block;
     width: 50px; height: 3px; background-color: #e6922c;
     position: absolute; top: -15px; left: 600px;}
    .company_content .main_content01>.text_box{padding-top:30px;}

    .main_content01>p.about{ font-size:2em; padding-top:50px;}
    .main_content01>.text_box>img{display: block; position: relative;}
    .main_content01>.text_box>img.left{position: absolute; 
      left: 250px; top: 220px;}
    .main_content01>.text_box>img.right{position: absolute; 
      right:250px; top: 220px;}

    .main_content01>.text_box>h1{
      font-size:3.5em;
      color:#536249;
      position: relative; }

      .main_content01>.text_box>h1.one{position: absolute; 
        left: 400px; top:220px;}
    

    .main_content01>.text_box>h1.two{ position: absolute; 
      top: 270px; left: 500px;
    }
      .main_content01>h3{color:#e6922c;}
    }

    .main_content01>p{position: relative;}

    .main_content01>p.txt{position: absolute;
     top: 380px; font-size:0.9em; left: 320px;
     font-weight:bold;}


     /*main_content02*/


     .main_content02{ 
      width: 1260px;height: 550px;
       _background-color:gray; border-bottom: 2px solid #cacaca;

    margin-top:70px;
     }


     .main_content02>ul{}

     .main_content02>ul>li{margin-left:88px; margin-top:10px;}


     .main_content02>ul>li.card{width: 300px; text-align: center;
      height: 500px; _background-color:blue; float: left; }


 .main_content02>ul>li.card>img{display: block; padding-left:65px;}
 .main_content02>ul>li.card>.card_body{height: 300px;}
 .main_content02>ul>li.card>.card_body>h2{padding-top:40px;
  position: relative;
color:#505f46;}
 .main_content02>ul>li.card>.card_body>h2:before{position: absolute;
  left: 125px; bottom: 50px;
  content:""; display: block;
width: 40px; height: 3px; background-color:#505f46; }
 .main_content02>ul>li.card>.card_body>p{padding-top:20px;
  color:#666666; font-size:0.9em; font-weight:bold;}

  /*main_content03*/



  .main_content03{width: 1260px; height: 900px;
   _background-color:pink; position: relative; }


    .main_content03>h1{padding-top:100px; color:#e6922c; text-align: center;}
    .main_content03>p{padding-top:20px; font-weight:bold; text-align: center;}

   .main_content03>ul{}


   .main_content03>ul.contentbox{width: 1260px; position: absolute; bottom: 0;}
   .main_content03>ul.contentbox>li{
    width: 25%; height: 315px; _border: 1px solid #000;
    float: left;}


    /*contentbox*/

    .main_content03>ul.contentbox>li.box2st>h2{color:#505f46; padding-top:60px; padding-left:20px;}
    .main_content03>ul.contentbox>li.box2st>p{padding-left:20px; padding-top:30px ;}

    ul.contentbox > li > h2{color:#505f46; padding-top:60px; padding-left:30px;}
     ul.contentbox > li > p{padding-left:30px; padding-top:30px ; color:#595959;
      font-weight:bold;  line-height:28px;}

      ul.contentbox > li{position: relative;}

      ul.contentbox{position: relative;}


     ul.contentbox > li:before{content:""; display: block;
      width: 40px; height: 3px; background-color:#505f46;
      position: absolute; top: 40px; left: 30px; }


      ul.contentbox > li:nth-child(1):before{display: none;}
      ul.contentbox > li:nth-child(3):before{display: none;}
      ul.contentbox > li:nth-child(6):before{display: none;}
      ul.contentbox > li:nth-child(8):before{display: none;}


      ul.contentbox li.content_1st:after{
        content:""; border-width:20px; border-style:solid;
        border-color:transparent transparent #ffffff transparent;
        position: absolute; left: 130px; top:275px;
     }


      ul.contentbox li.content_3st:after{
        content:""; border-width:20px; border-style:solid;
        border-color:transparent transparent #ffffff transparent;
        position: absolute; left: 130px; top:275px;
     }


     .contentbox li.content_6st:after{
        content:""; border-width:20px; border-style:solid;
        border-color: #ffffff transparent transparent   transparent;
        position: absolute; bottom: 275px; left: 130px;
     }


     .contentbox li.content_8st:after{
        content:""; border-width:20px; border-style:solid;
        border-color: #ffffff transparent transparent   transparent;
        position: absolute; bottom: 275px; left: 130px;
     }


