@charset "utf-8";

.main_header{ height: 500px;
background:url(../images/sub_header_img01.jpg) no-repeat center;
 position: relative;

background-size:cover;}

.main_header .textbox{ color:white; position: absolute;
 bottom: 0; left: 450px; text-align: center;}
.main_header .textbox>h1{text-align: center;
 font-weight:bold; font-size:3.5em; color:white;  }
.main_header .textbox>p{text-align: center;
 _padding-top:10px;}




 .main_header .textbox2{ color:white; position: absolute;
 bottom: 0; left: 480px; text-align: center;}
 .main_header .textbox2>h1{text-align: center;
 font-weight:bold; font-size:3.5em; color:white;  }
.main_header .textbox2>p{text-align: center;
 _padding-top:10px;}








#header_top{width: 1260px; 
 height: 225px;
  _background-color:pink; 
  position: absolute; top: 40px; left: 50%; margin-left:-630px;
z-index:1;}

  #header_top > .logobox{float: left; _background-color:blue;}
  #header_top > #main_menu{float:right; _background-color:red;padding-top:15px;}

  #header_top>#main_menu>ul{}
  #header_top>nav#main_menu>ul>li{float: left;}
  #header_top>nav#main_menu>ul>li.on>a{color:#ffa130; font-weight:bold;}

  #header_top>nav#main_menu>ul>li>a{display: block; line-height: 50px; padding:0 30px; color:white;
  font-weight:bold; }

  #header_top>nav#main_menu>ul>li>a:hover{color:#ffa130;}





  #header_top2{width: 1260px; 
 height: 225px;
  _background-color:pink; 
  position: absolute; top: 40px; left: 50%; margin-left:-630px;
z-index:1;}

  #header_top2 > .logobox{float: left; _background-color:blue;}
  #header_top2 > #main_menu{float:right; _background-color:red;padding-top:15px;}

  #header_top2>#main_menu>ul{}
  #header_top2>nav#main_menu>ul>li{float: left;}
  #header_top2>nav#main_menu>ul>li>a{display: block; line-height: 50px; padding:0 30px; color:white;
  font-weight:bold; }

  #header_top>nav#main_menu>ul>li>a:hover{color:#ffa130;}





 


  /*tabmenu*/

  .tab_menu{width: 1260px; height: 70px; margin:0 auto; 
  	background-color:#ebebeb;
   position: relative; bottom: 70px; }


   .tab_menu>ul{}
   .tab_menu>ul>li{float: left; width: 315px; border-bottom: 3px solid #f8a130; 
   	height: 70px;  padding-top:25px; text-align: center;
   	 }

      .tab_menu>ul>li.active{background-color: #ffa130; color:white;}

      .tab_menu>ul>li:hover{background-color:orange; cursor:pointer;}




     .tab_menu>ul>li:nth-child(1){font-weight:bold; border-right: 1px solid #d4d4d4; }
     .tab_menu>ul>li:nth-child(2){font-weight:bold; border-right: 1px solid #d4d4d4; }

   
     .tab_menu>ul>li:nth-child(3){font-weight:bold;
      border-right: 1px solid #d4d4d4;}
     .tab_menu>ul>li:nth-child(4){font-weight:bold;}


     .content{ height: 2400px; width: 1260px; margin:30px auto;
      _background-color:yellow;
       
     }




     /*content*/


     .content>.menu_list{width: 250px; }
     .content>.menu_list>ul{}
     .content>.menu_list>ul>li{float: left; color:orange; 
       padding:0 3px; }
     .content>.menu_list>ul>li>img{display: block;}
     .black{color:#000 !important;font-weight:bold; }


     /*main_content01*/





     .main_content01{  padding-top:60px; height: 510px; border-bottom: 3px solid #202020;
    width: 1260px; text-align: center;  position: relative;}

    .main_content01>h3{font-size:2em; position: relative;}
    .main_content01>h3:after{content:""; display: block;
     width: 50px; height: 3px; background-color: #e6922c;
     position: absolute; top: -15px; left: 600px;}
    .main_content01>.text_box{padding-top:30px;}

    .main_content01>p.about{ font-size:2em; padding-top:50px;}
    .main_content01>.text_box>img{display: block; position: relative;}
    .main_content01>.text_box>img.left{position: absolute; 
      left: 250px; top: 220px;}
    .main_content01>.text_box>img.right{position: absolute; 
      right:250px; top: 220px;}

    .main_content01>.text_box>h1{
      font-size:3.5em;
      color:#536249;
      position: relative; }

      .main_content01>.text_box>h1.one{position: absolute; 
        left: 400px; top:220px;}
    

    .main_content01>.text_box>h1.two{ position: absolute; 
      top: 270px; left: 500px;
    }
      .main_content01>h3{color:#e6922c;}
    }

    .main_content01>p{position: relative;}

    .main_content01>p.txt{position: absolute;
     top: 380px; font-size:0.9em; left: 320px;
     font-weight:bold;}


     /*main_content02*/


     .main_content02{ 
      width: 1260px;height: 550px;
       _background-color:gray; border-bottom: 2px solid #cacaca;

    margin-top:70px;
     }


     .main_content02>ul{}

     .main_content02>ul>li{margin-left:88px; margin-top:10px;}


     .main_content02>ul>li.card{width: 300px; text-align: center;
      height: 500px; _background-color:blue; float: left; }


 .main_content02>ul>li.card>img{display: block; padding-left:65px;}
 .main_content02>ul>li.card>.card_body{height: 300px;}
 .main_content02>ul>li.card>.card_body>h2{padding-top:40px;
  position: relative;
color:#505f46;}
 .main_content02>ul>li.card>.card_body>h2:before{position: absolute;
  left: 125px; bottom: 50px;
  content:""; display: block;
width: 40px; height: 3px; background-color:#505f46; }
 .main_content02>ul>li.card>.card_body>p{padding-top:20px;
  color:#666666; font-size:0.9em; font-weight:bold;}

  /*main_content03*/



  .main_content03{width: 1260px; height: 900px;
   _background-color:pink; position: relative; }


    .main_content03>h1{padding-top:100px; color:#e6922c; text-align: center;}
    .main_content03>p{padding-top:20px; font-weight:bold; text-align: center;}

   .main_content03>ul{}


   .main_content03>ul.contentbox{width: 1260px; position: absolute; bottom: 0;}
   .main_content03>ul.contentbox>li{
    width: 25%; height: 315px; _border: 1px solid #000;
    float: left;}


    /*contentbox*/

    .main_content03>ul.contentbox>li.box2st>h2{color:#505f46; padding-top:60px; padding-left:20px;}
    .main_content03>ul.contentbox>li.box2st>p{padding-left:20px; padding-top:30px ;}

    ul.contentbox > li > h2{color:#505f46; padding-top:60px; padding-left:30px;}
     ul.contentbox > li > p{padding-left:30px; padding-top:30px ; color:#595959;
      font-weight:bold;  line-height:28px;}

      ul.contentbox > li{position: relative;}

      ul.contentbox{position: relative;}


     ul.contentbox > li:before{content:""; display: block;
      width: 40px; height: 3px; background-color:#505f46;
      position: absolute; top: 40px; left: 30px; }


      ul.contentbox > li:nth-child(1):before{display: none;}
      ul.contentbox > li:nth-child(3):before{display: none;}
      ul.contentbox > li:nth-child(6):before{display: none;}
      ul.contentbox > li:nth-child(8):before{display: none;}


      ul.contentbox li.content_1st:after{
        content:""; border-width:20px; border-style:solid;
        border-color:transparent transparent #ffffff transparent;
        position: absolute; left: 130px; top:275px;
     }


      ul.contentbox li.content_3st:after{
        content:""; border-width:20px; border-style:solid;
        border-color:transparent transparent #ffffff transparent;
        position: absolute; left: 130px; top:275px;
     }


     .contentbox li.content_6st:after{
        content:""; border-width:20px; border-style:solid;
        border-color: #ffffff transparent transparent   transparent;
        position: absolute; bottom: 275px; left: 130px;
     }


     .contentbox li.content_8st:after{
        content:""; border-width:20px; border-style:solid;
        border-color: #ffffff transparent transparent   transparent;
        position: absolute; bottom: 275px; left: 130px;
     }







/*footer*/


.footer_wrap{border-top: 1px solid #000; }

.footer_wrap>.main_footer{width: 1260px;  margin:0 auto;
    height: 155px;
     }
.footer_wrap>.main_footer>.logo_box{float: left;width:200px; }
.footer_wrap>.main_footer>.logo_box>img{display: block; padding-top:50px; }
.footer_wrap>.main_footer>.text_box{float: right; width:1060px; margin:0 auto; }

.text_box>.text{float: left; padding-top:30px;padding-right:10px;}
.text_box>.text>p.two{font-size:0.8em; color:#9d9d9d;}

.text_box>.text>p{padding:10px;}
.text_box>.fa{float: right; padding-top:50px;}
.text_box>.fa>button{width: 200px; height: 45px; background-color:white;
 border: 1px solid #8f8f8f;} 

 .text_box>.fa>button:hover{background-color:lightgray; cursor:pointer;}

 .footer_wrap{background-color:white;}


 /*content2st*/


 .content2st{ height: 6500px; width: 1260px; margin:30px auto;
      }

      .content2st>img{display: block;}


      .content3st{ height: 2400px; width: 1260px; margin:30px auto;
      background-color:yellow;}



.content4st{ height: 2400px; width: 1260px; margin:30px auto;
      background-color:yellow;}







       

       
 




