@charset "utf-8";



body{font-family: 'Nanum Gothic', sans-serif;}

.main_header{ height: 500px;
background:url(../images/sub3_bg3.jpg) no-repeat center;
 position: relative;

background-size:cover;}

.main_header .textbox{ color:white; position: absolute;
 bottom: 0; left:500px; text-align: center;}
.main_header .textbox>h1{text-align: center;
 font-weight:bold; font-size:3.5em; color:white;  }
.main_header .textbox>p{text-align: center;
 _padding-top:10px;}




 .main_header .textbox2{ color:white; position: absolute;
 bottom: 0; left: 550px; text-align: center;}
 .main_header .textbox2>h1{text-align: center;
 font-weight:bold; font-size:3.5em; color:white;  }
.main_header .textbox2>p{text-align: center;
 _padding-top:10px;}

 .main_header .textbox3{ color:white; position: absolute;
 bottom: 0; left: 500px; text-align: center;}
 .main_header .textbox3>h1{text-align: center;
 font-weight:bold; font-size:3.5em; color:white;  }
.main_header .textbox3>p{text-align: center;
 _padding-top:10px;}



  .main_header .textbox4{ color:white; position: absolute;
 bottom: 0; left: 550px; text-align: center;}
 .main_header .textbox4>h1{text-align: center;
 font-weight:bold; font-size:3.5em; color:white;  }
.main_header .textbox4>p{text-align: center;
 _padding-top:10px;}










#header_top{width: 1260px; 
 height: 225px;
  _background-color:pink; 
  position: absolute; top: 40px; left: 50%; margin-left:-630px;
z-index:1;}

  #header_top > .logobox{float: left; _background-color:blue;}
  #header_top > #main_menu{float:right; _background-color:red;padding-top:15px;}

  #header_top>#main_menu>ul{}
  #header_top>nav#main_menu>ul>li{float: left;}
  #header_top>nav#main_menu>ul>li.on>a{color:#ffa130; font-weight:bold;}

  #header_top>nav#main_menu>ul>li>a{display: block; line-height: 50px; padding:0 30px; color:white;
  font-weight:bold; }

  #header_top>nav#main_menu>ul>li>a:hover{color:#ffa130;}





  #header_top2{width: 1260px; 
 height: 225px;
  _background-color:pink; 
  position: absolute; top: 40px; left: 50%; margin-left:-630px;
z-index:1;}

  #header_top2 > .logobox{float: left; _background-color:blue;}
  #header_top2 > #main_menu{float:right; _background-color:red;padding-top:15px;}

  #header_top2>#main_menu>ul{}
  #header_top2>nav#main_menu>ul>li{float: left;}
  #header_top2>nav#main_menu>ul>li>a{display: block; line-height: 50px; padding:0 30px; color:white;
  font-weight:bold; }

  #header_top>nav#main_menu>ul>li>a:hover{color:#ffa130;}





 


  /*tabmenu*/

  .tab_menu{width: 1260px; height: 70px; margin:0 auto; 
    background-color:#ebebeb;
   position: relative; bottom: 70px; }


   .tab_menu>ul{}
   .tab_menu>ul>li{float: left; width: 315px; border-bottom: 3px solid #f8a130; 
    height: 70px;  padding-top:25px; text-align: center;
     }

      .tab_menu>ul>li.active{background-color: #ffa130; color:white;}

      .tab_menu>ul>li:hover{background-color:orange; cursor:pointer;}




     .tab_menu>ul>li:nth-child(1){font-weight:bold; border-right: 1px solid #d4d4d4; }
     .tab_menu>ul>li:nth-child(2){font-weight:bold; border-right: 1px solid #d4d4d4; }

   
     .tab_menu>ul>li:nth-child(3){font-weight:bold;
      border-right: 1px solid #d4d4d4;}
     .tab_menu>ul>li:nth-child(4){font-weight:bold;}


     .content{ width: 1260px; margin:30px auto;
      _background-color:yellow;
       
     }




     /*content*/


     .content .menu_list{width: 300px;  }
     .content .menu_list>ul{} 
     .content .menu_list>ul>li{float: left; color:orange; 
        }
     .content .menu_list>ul>li>img{display: block;}
     .black{color:#000 !important;font-weight:bold; }


     /*main_content01*/





     .main_content01{  padding-top:100px; 
    width: 1260px; text-align: center;  position: relative;}


    .main_content01>img.img02{padding-top:20px; display: block; margin:0 auto;}
    .main_content01>img.img01{padding-top:20px; display: block; margin:0 auto;}

    .main_content01>h3{font-size:2em; position: relative;}
    .main_content01>h3:after{content:""; display: block;
     width: 50px; height: 3px; background-color: #e6922c;
     position: absolute; top: -15px; left: 600px;}
    .main_content01>.text_box{padding-top:30px;}

    .main_content01>p.about{ font-size:2em; padding-top:50px;}
    .main_content01>.text_box>img{display: block; position: relative;}
    

    .main_content01>.text_box>h1{
      font-size:3.5em;
      color:#536249;
      position: relative; }

      .main_content01>.text_box>h1.one{position: absolute; 
        left: 400px; top:220px;}
    

    .main_content01>.text_box>h1.two{ position: absolute; 
      top: 270px; left: 500px;
    }
      .main_content01>h3{color:#e6922c;}
    }

    .main_content01>p{position: relative;}

    .main_content01>p.txt{position: absolute;
     top: 380px; font-size:0.9em; left: 320px;
     font-weight:bold;}






    




/*footer*/


.footer_wrap{ }

.footer_wrap>.main_footer{width: 1260px;  margin:0 auto;
    height: 155px;
     }
.footer_wrap>.main_footer>.logo_box{float: left;width:200px; }
.footer_wrap>.main_footer>.logo_box>img{display: block; padding-top:50px; }
.footer_wrap>.main_footer>.text_box{float: right; width:1060px; margin:0 auto; }

.text_box>.text{float: left; padding-top:30px;padding-right:10px;}
.text_box>.text>p.two{font-size:0.8em; color:#9d9d9d;}

.text_box>.text>p{padding:10px;}
.text_box>.fa{float: right; padding-top:50px;}
.text_box>.fa>button{width: 200px; height: 45px; background-color:white;
 border: 1px solid #8f8f8f;} 

 .text_box>.fa>button:hover{background-color:lightgray; cursor:pointer;}

 .footer_wrap{background-color:white;}




 .footer_wrap1{position: absolute; border-top: 1px solid #000;  margin-top:200px; }

.footer_wrap1>.main_footer1{width: 1260px;  margin:0 auto;
    height: 155px;
     }
.footer_wrap1>.main_footer1>.logo_box1{float: left;width:200px; }
.footer_wrap1>.main_footer1>.logo_box1>img{display: block; padding-top:50px; }
.footer_wrap1>.main_footer1>.text_box1{float: right; width:1060px; margin:0 auto; }

.text_box1>.text1{float: left; padding-top:30px;padding-right:10px;}
.text_box1>.text1>p.two1{font-size:0.8em; color:#9d9d9d;}

.text_box1>.text1>p{padding:10px;}
.text_box1>.fa1{float: right; padding-top:50px;}
.text_box1>.fa1>button{width: 200px; height: 45px; background-color:white;
 border: 1px solid #8f8f8f;} 

 .text_box1>.fa1>button:hover{background-color:lightgray; cursor:pointer;}

 .footer_wrap1{background-color:white;}



 /*content2st*/


 .content2st{ height: 800px; width: 1260px; margin:0 auto;
      }

      .content2st img{display: block; }


      .content3st{ height:7000px; width: 1260px; margin:30px auto;
      _background-color:yellow;}

     .content3st img.arc{display: block;margin-left:100px; 
        display: block;  }




.content4st{ height: 2800px; width: 1260px; margin:30px auto;
      _background-color:yellow;}
      .content4st img{display: block;}







       

       
 

