@charset "utf-8";
.main_header{}
.main_util{border-bottom:1px solid #cdcdcd;}

.menu_wrap{width: 980px; height: 20px; margin:0 auto;}
.menu_wrap:after{content:""; clear:both; display: block;}
.util_wrap{float:right; /*width: 980px;*/}
.util_wrap:after{content:""; clear:both; display: block;}
.util_wrap>li{ float:left; position: relative; }
.util_wrap>li:after{content:""; width: 1px; height: 10px; background-color:#DDDDDD; display: block; position: absolute; top:8px;}
.util_wrap>li:first-child:after{content:""; display: none;}

.util_wrap>li>a{ display:block; text-align: center; padding:0 15px; color:#888888}
h1{text-align: center;margin:0 auto; line-height:45px; padding:10px 0;}

.main_menu{  background-color:#1D5DA4;  }

.main_wrap{width: 980px;height: 45px;margin:0 auto;}
.main_wrap:after{content:""; clear:both; display: block;}
.main_wrap>li{width: 16.666%; float:left; border-right:1px solid #336DAC;}
.main_wrap>li:nth-child(1){border-left: 1px solid #336dac;}
.main_wrap>li>a{display: block; line-height:45px; text-align: center; color:#F7F6FB; font-weight:bold;}
.main_wrap>li>a:hover{background-color:skyblue; color:#1D5DA4;}

/*visual*/
#visual_wrap{height: 400px; background:#203969 url(../images/visual_bg.jpg) no-repeat center;}
#visual_wrap>.visual{width: 980px; margin: 0 auto; height: 400px; position: relative;}
#visual_wrap>.visual>img.img01{position: absolute; right: 0;bottom: 0;}
#visual_wrap>.visual>img.img02{position: absolute; left: 0;top: 70px;}

#visual_icon{height: 196px; background-color:#eee;margin-bottom:45px; }
#visual_icon>.icon_wrap{width: 980px; margin: 0 auto;}
#visual_icon>.icon_wrap>ul{ }
#visual_icon>.icon_wrap>ul>li{float: left; width: 20%; height: 196px;}
#visual_icon>.icon_wrap>ul>li:nth-child(1){background-color:#7c99b9;}
#visual_icon>.icon_wrap>ul>li:nth-child(2){background-color:#4f74a1;}
#visual_icon>.icon_wrap>ul>li:nth-child(3){background-color:#4b8ce0;}
#visual_icon>.icon_wrap>ul>li:nth-child(4){background-color:#3db5f2;}
#visual_icon>.icon_wrap>ul>li:nth-child(5){background-color:#95c8ff;}

.icon_wrap>ul>li:hover{background-color:skyblue; cursor:pointer;}

#visual_icon>.icon_wrap>ul>li>.card{padding:15px;}
#visual_icon>.icon_wrap>ul>li>.card>img{margin:0 auto;}
#visual_icon>.icon_wrap>ul>li>.card>.card-body{text-align: center; padding-top:13px;
color:white;}

.content_wrap{width: 980px; margin:0 auto; }
.content_wrap>ul>li{width: 310px;float: left;margin-right:25px;}

.content_wrap>ul>li>.card{ }
.content_wrap>ul>li>.card>.card-body>h3.card-title{margin-bottom:5px; }

.content_wrap>ul>li:last-child{margin-right:0;}

.content_wrap>ul>li>.card>img{margin:0 auto;}
.content_wrap>ul>li>.card>.card-body{
	padding:17px; border: 1px solid #cdcdcd; border-top:none;}

	#section{width: 980px; margin:0 auto; padding-top:25px;}
	#section>ul{}
	#section>ul>li{margin-bottom:25px;float:left; overflow:hidden;width: 310px; margin-right:25px;position: relative; border:1px solid #cdcdcd; }
	#section>ul>li:last-child{margin-right:0;}
	
	#section>ul>li>.card{ padding:20px 10px; width: 310px; height: 170px;}
	#section>ul>li>.card>img{position: absolute;right:-20px;top: 20px;}
	#section>ul>li>.card>.card-body{width:150px;position: absolute; padding-right:5px; }
	#section>ul>li>.card>.card-body>a{padding-top:10px 0; }
	#section>ul>li>.card>.card-body>.card-title{margin-bottom:6px;}
	
	#section>ul>li>.card>.card-body>.card-text{}




.main_footer{}
.footer01{background-color:gray; height: 45px;}
.footer_wrap{width: 980px; height: 45px;  margin:0 auto;}
.footer_wrap>.footer_menu{}
.footer_wrap>.footer_menu>li{float: left;}
.footer_wrap>.footer_menu>li>a{display: block; padding:0 15px; line-height:45px;}

/*footer2*/
	.address_wrap{width: 980px;  margin:0 auto; }
	.address_wrap>h1{ float: left; }

	.address_wrap>div.list{float:left}
	
